@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bg-color: #edf2f8;
    --purple-bg: #733fc8;
    --gray-bg: #49556b;
    --white-bg: #ffffff;
    --blue-bg: #19202e
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: justify;
    
}


.container {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1.5em;
    padding: 2.5em;
}

.card-1 {
    background-color: var(--purple-bg);
    margin: 24px;
    border-radius: 20px;
    color: white;
    padding: 30px;

}

.card-2 {
    background-color: var(--gray-bg);
    margin: 24px;
    border-radius: 20px;
    color: white;
    padding: 30px;

}

.card-3 {
    background-color: var(--white-bg);
    margin: 24px;
    border-radius: 20px;
    color: #49556b;
    padding: 30px;

}

.card-4 {
    background-color: var(--blue-bg);
    margin: 24px;
    border-radius: 20px;
    color: white;
    padding: 30px;

}

.card-5 {
    background-color: var(--white-bg);
    margin: 24px;
    border-radius: 20px;
    color: #49556b;
    padding: 30px;

}

header {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 13px;
}


.names {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.names .status {
    font-size: 14px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.514);
}

.light-names>.status {
    color: hsla(219, 19%, 35%, 0.5);
    ;
}

.photo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#quotation {}

.dark {
    border: 4px solid #926fcc;
}

.texts-dark {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.texts-dark .sec-text {
    font-size: 14px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.712)
}


.texts-light {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}


.texts-light .sec-text {
    font-size: 14px;
    font-weight: 500;
    color: hsla(219, 19%, 35%, 0.705);
}

.main-text {
    font-size: 17px;
    font-weight: 500;
}


@media screen and (min-width: 700px) {
    .container {
        grid-template-rows: 300px;
        gap: 5;
        grid-template-areas: "daniel daniel jonathan kira"
            "jeanette  patrick patrick kira";
    }

    .card-1, .card-2, .card-3, .card-4, .card-5 {
        width: 100%;
        height: 100%;
    }

    .card-1 {
        grid-area: daniel;
    }

    .card-2 {
        grid-area: jonathan;
    }

    .card-3 {
        grid-area: jeanette;
    }

    .card-4 {
        grid-area: patrick;
    }

    .card-5 {
        grid-area: kira;
    }

    body {
        padding: 5em 6.5em;
    }
}